<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title></title>
	<style> 
		
		nav {
		  color: white;
		  background-color: tomato;
		}
		td {
		  text-align: center;
		  vertical-align: middle;
		  border: 1px solid black;
		}

	</style>
</head>
<body>
	<nav><h1>Temix-biblio</h1></nav>
		<div>
			<table style="width:100%">
  				<tr>
  			 		<th>Filename</th>
    					<th>Download</th>
  				</tr>
  				<tr>
	  				<td><%= file_1 %></td>
    					<td><a href="/download">download</a></td>
  				</tr>
  				<tr>
    					<td></td>
    					<td></td>
  				</tr>
			</table>
		</div>
</body>
</html>
