<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title></title>
</head>
<body>
	<nav><h1>Temix-biblio</h1></nav>
	<div class="wrapper">
		<ul>
			<li><%= file_1 %></li>
			<li><%= file_2 %></li>
			<li><%= file_1 %></li>
			<li><%= file_2 %></li>
			<li><a href="/download">download</a></li>
		</ul>
	</div>
</body>
</html>
