<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, maximum-scale=5">
	<meta name="description" content="A offline library for android">
	<title>Termux</title>
	<style> 
		* {
			padding: 0;
			margin: 0;
			font-family: consolas;
			font-weight: bold;
			font-size: 20px;
		}
		.grid {
			display: grid;
			width: 100vw;
			height: 100vh;
			justify-content: center;
			align-content: center;
		}
		a {
			padding: 20px;
			border-radius: 10px;
			color: white;
			background-color: #c55;
			text-decoration: none;
			margin: 4px;
		}
		a:hover, a:active {
			text-decoration: none;
			outline: none;
		}

	</style>
</head>
<body>
	<section>
	<header> </header>
	<div class="grid">
		<div class="links">
			<a role="button" tabindex="0" aria-pressed="false"  href="/home/es">Español</a><a tabindex="1" aria-pressed="false" role="button" href="/home/en">English</a>
		</div>
	</div>
	</section>
</body>
</html>
